@model LBModel.Bank

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Bank</legend>

        @Html.HiddenFor(model => model.BankID)

        <div class="editor-label">
            @Html.LabelFor(model => model.BankName)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.BankName)
            @Html.ValidationMessageFor(model => model.BankName)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.BankDesc)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.BankDesc)
            @Html.ValidationMessageFor(model => model.BankDesc)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.RoutingNumber)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.RoutingNumber)
            @Html.ValidationMessageFor(model => model.RoutingNumber)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.IsOpen)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.IsOpen)
            @Html.ValidationMessageFor(model => model.IsOpen)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.CreateDate)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.CreateDate)
            @Html.ValidationMessageFor(model => model.CreateDate)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.CreatedBy)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.CreatedBy)
            @Html.ValidationMessageFor(model => model.CreatedBy)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.UpdateDate)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.UpdateDate)
            @Html.ValidationMessageFor(model => model.UpdateDate)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.UpdatedBy)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.UpdatedBy)
            @Html.ValidationMessageFor(model => model.UpdatedBy)
        </div>

        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
